@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,300&display=swap');
*{
    box-sizing: border-box;
}

body{
    display: grid;
    place-items: center;
    font-family: 'Lato', sans-serif;
    background: #f4f4f4;
    color: #222;
    height: 100vh;
    margin: 0;
}
h1 {
    margin-bottom: 0;
    text-transform: uppercase;
}

img {
    max-width: 100%;
    display: block;
}

.image__carousel img {
    height: 500px;
    width: 500;
    object-fit: cover;
    aspect-ratio: 16 / 9;
}
.image__carousel {
  height: 530px;
  width: 500px;
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
}

.carousel__container {
    display: flex;
    transform: translateX(0);
    transition: transform 0.4s ease-in-out;
}

.buttons__container {
    display: flex;
    justify-content: space-between;
    background: #fff;
}
.btn {
    background: #000;
    color: #fff;
    padding: 0.4em;
    width: 49.5%;
    font-family: inherit;
    font-weight: 500;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1em;
}
.btn:active{
    transform: scale(0.98);
}
.btn:hover {
    opacity: 0.85;
}
.btn:focus {
    outline: none;
}